@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic&subset=cyrillic,latin);
@import url(http://fonts.googleapis.com/css?family=Noto+Serif:400,700,400italic,700italic&subset=latin,cyrillic-ext);
/*! main layout CSS */
/*Fonts*/
@font-face {
  font-family: terminator;
  src: url(../fonts/terminator_cyr_v4.ttf);
}
@font-face {
  font-family: monumento;
  src: url(../fonts/a_MonumentoTitulRg-Bold_3503.ttf);
}
@font-face {
  font-family: europe;
  src: url(../fonts/europeext.ttf);
}
/*colors*/
/*indents*/
.no-padding-left {
  padding-left: 0;
}
.no-padding-right {
  padding-right: 0;
}
.colored-border-top {
  border-top: 3px solid;
}
.padding-lr {
  padding: 0 20px;
}
.padding-top {
  padding-top: 40px;
}
.padding-bottom {
  padding-bottom: 40px;
}
.padding-bottom-sm {
  padding-bottom: 15px;
}
.padding-top-mdl {
  padding-top: 20px;
}
.padding-top-news-block {
  padding-top: 25px;
}
/*Helpers*/
.colored-border-bottom {
  border-bottom: 3px solid;
}
.simple-box {
  position: relative;
  margin-bottom: 20px;
}
.simple-box.orange,
.simple-box.orange {
  border-color: #e90204;
}
.simple-box.orange h6,
.simple-box.orange h6 {
  color: #e90204;
}
.simple-box.orange h6 a,
.simple-box.orange h6 a {
  color: #e90204;
}
h6 {
  display: block;
  font-size: 20px;
  line-height: 20px;
  font-family: arial-narrow, sans-serif;
}
.header {
  position: relative;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  color: #838383;
  z-index: 4;
}
.header .logo {
  height: 70%;
  width: 70%;
  margin-left: 40px;
  margin-top: 8px;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -webkit-perspective: 600px;
  -moz-perspective: 600px;
  -o-perspective: 600px;
  perspective: 600px;
}
.header .logo:hover {
  transform: rotateY(-360deg);
}
.header .header-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}
.header .header-background img {
  width: 100%;
  height: 100%;
}
.header .menu-info .lines {
  position: absolute;
  margin-top: 9px;
}
.header .trucks {
  position: relative;
}
.header .trucks .searcharea {
  top: 20px;
}
.header .trucks .searcharea .navbar-form {
  margin-top: 0;
}
.header .trucks .searcharea #srch-term {
  width: 138px;
  background-color: #e8e8e8;
  border-radius: 0;
  -moz-box-sizing: border-box;
  /* Для Firefox */
  box-sizing: border-box;
  /* Ширина блока с полями */
}
.header .trucks .searcharea .add-on {
  float: right;
}
.header .trucks .searcharea .add-on .input-group-btn > .btn {
  border-left-width: 0;
  left: -2px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  border-radius: 0;
  background-color: #e8e8e8;
}
.header .trucks .searcharea .input-group-btn i {
  color: #838383;
}
.header .trucks .searcharea .add-on .form-control:focus {
  box-shadow: none;
  -webkit-box-shadow: none;
  border-color: #cccccc;
}
.header .trucks .company-name {
  position: relative;
  font-family: terminator, sans-serif;
  color: #b3262a;
  font-size: 42px;
}
.header .trucks .company-name span {
  font-size: 18px;
}
.header .trucks .services-list {
  position: relative;
  margin-bottom: 35px;
}
.header .trucks .services-list li a {
  font-size: 17px;
  color: #838383;
}
.header .trucks .services-list li a:hover {
  cursor: pointer;
  text-decoration: none;
  color: #b3252d;
}
.header .trucks .navigation-top {
  position: relative;
  float: right;
  padding-top: 30px;
}
.header .trucks .navigation-top img {
  margin-top: -8px;
  margin-left: -35px;
}
.header .trucks .navigation-top a {
  font-size: 14.7px;
  font-family: monumento, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #565656;
  padding-left: 12px;
}
.header .trucks .navigation-top a:hover {
  cursor: pointer;
  text-decoration: none;
  color: #b3252d;
}
.header .trucks .phone-number {
  position: relative;
  top: 21px;
  font-family: europe, sans-serif;
  font-size: 18px;
}
.header .trucks .phone-number img {
  position: relative;
  margin-top: -5px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 24px;
}
.header .trucks .phone-number span {
  font-size: 18px;
  float: right;
  text-decoration: underline;
}
.header .trucks .phone-number span a {
  color: #b3252d;
}
.header .trucks .phone-number span a:hover {
  color: red;
}
.header .under-header-menu {
  position: relative;
  margin-top: 16px;
  margin-left: 46px;
}
.header .under-header-menu .bus img {
  position: absolute;
  margin-left: -12px;
}
.header .under-header-menu .btn-container {
  position: absolute;
  margin-left: 80px;
}
.header .under-header-menu button {
  border-radius: 0;
  text-transform: uppercase;
  font-size: 12px;
  font-family: monumento, sans-serif;
}
.header .under-header-menu .left-button-red {
  border-radius: 0 0 0 8px;
}
.header .under-header-menu .right-button-red {
  border-radius: 0 0 8px 0;
}
.header .under-header-menu .under-line-bus {
  position: absolute;
}
/*# sourceMappingURL=header.css.map */