@import "layout.less";
.static-page-text {
    text-align: justify;
    font-family: Tahoma, sans-serif;
    font-size: 16px;
}
.main-news-block {
    .static-page-text {
        text-indent: 1.5em;
    }
}
.lease-text {
    font-family: arial-narrow, sans-serif;
    font-size: 28px;
    line-height: 20px;
    color: @orange-text;
}

.circle-picture {
    img {
        margin-top: -8px;
    }
}
/*Sprite*/
.cars-navlist li {
    list-style: none;

    span {
        padding-left: 60px;
        font-family: arial-narrow, sans-serif;
        font-size: 15px;
        white-space: pre;
    }
}

.cars-navlist li, .cars-navlist a {
    height: 40px;
    width: 50px;
    display: block;
}

#freeze-car {
    background: url('../img/static-page-crop/cars-background.png') 0 0;
}

#freeze-car a:hover {
    background: url('../img/static-page-crop/cars-background-hover.png') 0 0px;
}

#isometric-car {
    background: url('../img/static-page-crop/cars-background.png') 0 -40px;
}

#isometric-car a:hover {
    background: url('../img/static-page-crop/cars-background-hover.png') 0 -40px;
}

#ice-cream-car {
    background: url('../img/static-page-crop/cars-background.png') 0 -80px;
}

#ice-cream-car a:hover {
    background: url('../img/static-page-crop/cars-background-hover.png') 0 -80px;
}

#swing-car {
    background: url('../img/static-page-crop/cars-background.png') 0 -118px;
}

#swing-car a:hover {
    background: url('../img/static-page-crop/cars-background-hover.png') 0 -118px;
}

#corpse-car {
    background: url('../img/static-page-crop/cars-background.png') 0 -157px;
}

#corpse-car a:hover {
    background: url('../img/static-page-crop/cars-background-hover.png') 0 -157px;
}

#bread-car {
    background: url('../img/static-page-crop/cars-background.png') 0 -196px;
}

#bread-car a:hover {
    background: url('../img/static-page-crop/cars-background-hover.png') 0 -196px;
}

#special-car {
    background: url('../img/static-page-crop/cars-background.png') 0 -236px;
}

#special-car a:hover {
    background: url('../img/static-page-crop/cars-background-hover.png') 0 -236px;
}

#shassis {
    background: url('../img/static-page-crop/cars-background.png') 0 -280px;
}

#shassis a:hover {
    background: url('../img/static-page-crop/cars-background-hover.png') 0 -280px;
}

#equipment {
    background: url('../img/static-page-crop/cars-background.png') 0 -314px;
}

#equipment a:hover {
    background: url('../img/static-page-crop/cars-background-hover.png') 0 -314px;
}

/* Eo Sprite*/

.news-block {
    .img-wrapper {
        height: 261px;
        width: 251px;
    }

    .news-item {
        width: 227px;
        height: 130px;
        margin-top: -226px;
        margin-left: 14px;
    }
    b {
        color: @orange-text;
    }
    div {
        font-family: Tahoma, sans-serif;
        font-size:14px;
    }
    a {
        font-family: Tahoma, sans-serif;
        font-size:12px;
        color: @pale-text;
    }
    a:hover {
        cursor:pointer;
    }
}


