@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic&subset=cyrillic,latin);
@import url(http://fonts.googleapis.com/css?family=Noto+Serif:400,700,400italic,700italic&subset=latin,cyrillic-ext);
/*! main layout CSS */
/*Fonts*/
@font-face {
  font-family: terminator;
  src: url(../fonts/terminator_cyr_v4.ttf);
}
@font-face {
  font-family: monumento;
  src: url(../fonts/a_MonumentoTitulRg-Bold_3503.ttf);
}
@font-face {
  font-family: europe;
  src: url(../fonts/europeext.ttf);
}
/*colors*/
/*indents*/
.no-padding-left {
  padding-left: 0;
}
.no-padding-right {
  padding-right: 0;
}
.colored-border-top {
  border-top: 3px solid;
}
.padding-lr {
  padding: 0 20px;
}
.padding-top {
  padding-top: 40px;
}
.padding-bottom {
  padding-bottom: 40px;
}
.padding-bottom-sm {
  padding-bottom: 15px;
}
.padding-top-mdl {
  padding-top: 20px;
}
.padding-top-news-block {
  padding-top: 25px;
}
/*Helpers*/
.colored-border-bottom {
  border-bottom: 3px solid;
}
.simple-box {
  position: relative;
  margin-bottom: 20px;
}
.simple-box.orange,
.simple-box.orange {
  border-color: #e90204;
}
.simple-box.orange h6,
.simple-box.orange h6 {
  color: #e90204;
}
.simple-box.orange h6 a,
.simple-box.orange h6 a {
  color: #e90204;
}
h6 {
  display: block;
  font-size: 20px;
  line-height: 20px;
  font-family: arial-narrow, sans-serif;
}
.static-page-text {
  text-align: justify;
  font-family: Tahoma, sans-serif;
  font-size: 16px;
}
.main-news-block .static-page-text {
  text-indent: 1.5em;
}
.lease-text {
  font-family: arial-narrow, sans-serif;
  font-size: 28px;
  line-height: 20px;
  color: #e90204;
}
.circle-picture img {
  margin-top: -8px;
}
/*Sprite*/
.cars-navlist li {
  list-style: none;
}
.cars-navlist li span {
  padding-left: 60px;
  font-family: arial-narrow, sans-serif;
  font-size: 15px;
  white-space: pre;
}
.cars-navlist li,
.cars-navlist a {
  height: 40px;
  width: 50px;
  display: block;
}
#freeze-car {
  background: url('../img/static-page-crop/cars-background.png') 0 0;
}
#freeze-car a:hover {
  background: url('../img/static-page-crop/cars-background-hover.png') 0 0px;
}
#isometric-car {
  background: url('../img/static-page-crop/cars-background.png') 0 -40px;
}
#isometric-car a:hover {
  background: url('../img/static-page-crop/cars-background-hover.png') 0 -40px;
}
#ice-cream-car {
  background: url('../img/static-page-crop/cars-background.png') 0 -80px;
}
#ice-cream-car a:hover {
  background: url('../img/static-page-crop/cars-background-hover.png') 0 -80px;
}
#swing-car {
  background: url('../img/static-page-crop/cars-background.png') 0 -118px;
}
#swing-car a:hover {
  background: url('../img/static-page-crop/cars-background-hover.png') 0 -118px;
}
#corpse-car {
  background: url('../img/static-page-crop/cars-background.png') 0 -157px;
}
#corpse-car a:hover {
  background: url('../img/static-page-crop/cars-background-hover.png') 0 -157px;
}
#bread-car {
  background: url('../img/static-page-crop/cars-background.png') 0 -196px;
}
#bread-car a:hover {
  background: url('../img/static-page-crop/cars-background-hover.png') 0 -196px;
}
#special-car {
  background: url('../img/static-page-crop/cars-background.png') 0 -236px;
}
#special-car a:hover {
  background: url('../img/static-page-crop/cars-background-hover.png') 0 -236px;
}
#shassis {
  background: url('../img/static-page-crop/cars-background.png') 0 -280px;
}
#shassis a:hover {
  background: url('../img/static-page-crop/cars-background-hover.png') 0 -280px;
}
#equipment {
  background: url('../img/static-page-crop/cars-background.png') 0 -314px;
}
#equipment a:hover {
  background: url('../img/static-page-crop/cars-background-hover.png') 0 -314px;
}
/* Eo Sprite*/
.news-block .img-wrapper {
  height: 261px;
  width: 251px;
}
.news-block .news-item {
  width: 227px;
  height: 130px;
  margin-top: -226px;
  margin-left: 14px;
}
.news-block b {
  color: #e90204;
}
.news-block div {
  font-family: Tahoma, sans-serif;
  font-size: 14px;
}
.news-block a {
  font-family: Tahoma, sans-serif;
  font-size: 12px;
  color: #8e8e8e;
}
.news-block a:hover {
  cursor: pointer;
}
.under-text-line {
  margin-left: 15px;
  padding-right: -17px;
}
.catalog span {
  position: absolute;
  color: #e90204;
  font-family: arial-narrow, sans-serif;
  font-size: 30px;
  margin-top: -40px;
  margin-left: 125px;
}
.catalog span a {
  color: #e90204;
  font-family: arial-narrow, sans-serif;
  font-size: 30px;
  text-transform: uppercase;
}
.catalog span a:hover {
  text-decoration: none;
}
.catalog-image-container img {
  height: 195px;
}
.catalog-image-container div {
  text-align: center;
  font-family: Tahoma, sans-serif;
  font-size: 16px;
}
.advances-of-the-product {
  color: #e90204;
  font-family: arial-narrow, sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
}
.advances-of-the-product a {
  color: #e90204;
  text-decoration: none;
}
.slider {
  margin-top: -49px;
}
.slider h2 {
  font-family: europe, sans-serif;
  font-size: 30px;
  color: #9ca0a5;
}
.slider h3 {
  color: #7c7d85;
  font-family: europe, sans-serif;
  font-size: 23px;
}
.slider h1 {
  font-family: Meiryo 'Meiryo UI', sans-serif;
  font-size: 40px;
  color: #d9534f;
  margin-left: 41px;
}
.slider h1 span {
  font-size: 24px;
}
.slider .btn {
  margin-left: 41px;
}
.bus {
  display: none;
}
.header .btn-container {
  margin-top: 4px;
}
.description-image {
  display: block;
  margin: 0 auto;
}
.inner-img {
  margin-top: -192px;
  margin-left: 8px;
}
.inner-img img {
  width: 247px;
}
.inner-img .red-btn {
  margin-top: -20px;
  z-index: 33;
}
.img-container span:first-child {
  width: 262px;
  line-height: 42px;
  position: absolute;
  color: white;
  font-family: Arial, sans-serif;
  font-size: 18px;
  text-align: center;
  vertical-align: central;
}
.img-container .red-description {
  position: absolute;
  z-index: 33;
}
.img-container .red-description span:first-child {
  position: absolute;
  color: white;
  font-family: Arial, sans-serif;
  font-size: 16px;
  margin-top: -20px;
  width: 240px;
  text-align: center;
}
.img-container .red-description .arrow-btn {
  position: absolute;
  margin-left: 180px;
  margin-top: -10px;
  font-size: 1.7em;
  color: white;
}
.img-container .red-description .arrow-btn:hover {
  cursor: pointer;
}
.list-backround-container {
  display: none;
}
.list-backround-container img {
  position: absolute;
  height: 230px;
  width: 250px;
  z-index: 22;
  opacity: 0.6;
  margin-left: 6px;
  margin-top: -3px;
  border-radius: 8px;
}
.list-backround-container ul {
  position: absolute;
  width: 245px;
  list-style-type: none;
}
.list-backround-container ul li {
  padding-top: 5px;
  margin-left: -5px;
  position: relative;
  z-index: 55;
  font-family: Tahoma, sans-serif;
  font-size: 15px;
}
.list-backround-container ul li b {
  padding-right: 3px;
  font-family: Arial;
}
.bottom img {
  position: absolute;
  height: 230px;
  width: 250px;
  z-index: 22;
  opacity: 0.6;
  margin-left: 6px;
  margin-top: -227px;
}
.bottom ul {
  margin-top: -242px;
}
.bottom-img-container .red-description {
  position: absolute;
  z-index: 33;
  margin-top: -179px;
  margin-left: 6px;
}
.bottom-img-container .red-description span:first-child {
  position: absolute;
  color: white;
  font-family: Arial, sans-serif;
  font-size: 16px;
  width: 240px;
  text-align: center;
  line-height: 42px;
}
.bottom-img-container .red-description .arrow-btn {
  position: absolute;
  margin-left: 180px;
  font-size: 1.7em;
  color: white;
  line-height: 42px;
}
.bottom-img-container .red-description .arrow-btn:hover {
  cursor: pointer;
}
.bottom-img-container .inner-img {
  margin-top: -210px;
  margin-left: 8px;
}
.bottom-img-container .inner-img img {
  width: 247px;
}
.bottom-img-container .inner-img .red-btn {
  z-index: 33;
}
.bottom-img-container span:last-child {
  width: 262px;
  line-height: 42px;
  position: absolute;
  color: white;
  font-family: Arial, sans-serif;
  font-size: 18px;
  text-align: center;
  vertical-align: central;
  z-index: 88;
}
.red-icon-cells {
  padding-top: 60px;
}
.red-icon-cells span {
  color: #910000;
  position: absolute;
  padding-left: 10px;
  font-family: Tahoma, sans-serif;
  font-size: 15px;
}
/*# sourceMappingURL=main.css.map */